<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %> 
<body class="categoryBody">
  <%- include("../partials/header") %> 
  <main class="categoryMain">
    <div class="categoryHeader">
    <% const matchingHeader = header.find(item => item.category === pageType) %>
    <% if (matchingHeader) {%>
      <h1><%= matchingHeader.header %></h1>
    <% } %>
    </div>
    <div class="categoryChannelWrapper">
        <% if (locals.channels && channels.length > 0) { %>
          <% channels.forEach(channel => { %>
            <div class="categoryChannelCard">
              <div class="categoryChannelThumbnail">
                <img src="<%= channel.image %>" alt="<%= channel.name %>" height="50px" width="auto">
              </div>
              <div class="categoryChannelinfo">
                <h2><%= channel.title %></h2>
                <%- include("../partials/readmore", {channel: channel}) %> 
              </div>
            </div>
        <% }) %>
        <% } else { %>
          <p>Channel not found</p>
        <% } %>
    </div>
  </main>
  <%- include("../partials/footer") %> 
</body>
</html>