<!DOCTYPE html>
<html lang='en'>
<%- include("../partials/head") %> 
<body class="channelBody">
  <%- include("../partials/header") %>
  <main class="channelMain">
    <div class="channelPageHeader">
      <h1>Get to know <%= locals.title %> channel</h1>
    </div>
    <div class="channelWrapper">
      <div class="channelGrid">
        <div class="channelBanner">
          <img src="<%= locals.banner %>" alt="<%= locals.title %>" width="600px" height="auto">
        </div>
        <div class="channelThumbnail">
          <img src="<%= locals.image %>" alt="<%= locals.title %>">
        </div>
        <div class="channelHeader">
          <h2><%= locals.title %> </h2>
        </div>
        <div class="channelDescription">
          <p><%= locals.channelContent %></p>
        </div>
        <div class="channelSocials">
          <% if (locals.socialsIcons && locals.socials) {%>
            <% socialsIcons.forEach(social => {%>
              <% if(socials[social.name]) { %>
                <a href="<%= socials[social.name]%>"><img src="<%= social.icon %>" alt="Link to <%= social.name %>" height="30px" width="auto"></a>
                <% } %>
            <% }) %>
          <% } else { %>
            <p>No socials are available for this channel.</p>
          <% } %>
        </div>
      </div>
    </div>
  </main>
  <%- include("../partials/footer") %> 
</body>
</html>